/* ========== nwds.css ========== */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ========== Typography ========== */
ul, ol {
  padding-left: 1.25em;
  margin-left: 0; }

blockquote {
  margin-left: 0;
  border-left: 5px solid #8ba6ca;
  padding: 1rem 2rem; }

/* responsive definition list */
dl {
  margin: 0.5em 0;
  width: 100%;
  border-bottom: 1px solid #d6d7d9; 
}

dl dt {
  padding-top: 0.5em;
  font-weight: bold;
  color: #5b616b;
  border-top: 1px solid #d6d7d9; 
}
    
@media screen and (min-width: 600px) {
  dl dt {
    float: left;
    width: 33.333333%;
    max-width: 24rem;
    padding: 0.5em 1em 0.5em 0;
    clear: left; 
  } 
}
 
dl dd {
  margin: 0;
  padding-bottom: 0.5em; 
}

@media screen and (min-width: 600px) {
  dl dd {
    float: left;
    width: 66.66667%;
    min-width: calc(100% - 24rem);
    border-top: 1px solid #d6d7d9;
    padding-top: 0.5em; 
  } 
}
  
dl:after {
  clear: both;
  display: table;
  content: ""; 
}

dd p:first-of-type {
  margin-top: 0; 
}

dd p:last-of-type {
  margin-bottom: 0; 
}

dd ul {
  margin: 0; 
}

dd ol {
  margin: 0; 
}

/* common text variants */
.ncbi-text-large {
  font-size: 2rem; 
}

.ncbi-text-small {
  font-size: 1.3rem; 
}

.ncbi-text-light {
  color: #5b616b; 
}
  
.ncbi-text-light a {
  color: #5b616b; 
}
  
.ncbi-text-light a:hover {
  color: #0071bc; 
}

.ncbi-text-small-light {
  font-size: 1.3rem;
  color: #5b616b; 
}
  
.ncbi-text-small-light a {
  color: #5b616b; 
}
  
.ncbi-text-small-light a:hover {
  color: #0071bc; 
}

/* break without a <br/> */
.break:after {
  content: "\000A";
  white-space: pre; 
}

/* ========== Links ========== */
.ncbi-undecorated-link a {
  color: #0071bc;
  text-decoration: none; 
}

.ncbi-undecorated-link a:visited {
  color: #0071bc; }

.ncbi-undecorated-link a:hover {
  text-decoration: underline; 
}

/* Small "More" link with right-arrow */
.ncbi-more-link {
  display: inline-block;
  font: 700 1.4rem "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: url("../img/icons/arrow-right-primary.svg") no-repeat right center/12px 12px;
  padding: 1.5rem 2rem 1.5rem 0;
  text-decoration: none; 
}
  
.ncbi-more-link:hover {
  text-decoration: underline; 
}
  
.ncbi-more-link:visited {
  color: #0071bc; 
}

/* ========= Lists ========== */
ul.ncbi-unstyled-list, ul.ncbi-inline-list, ul.ncbi-inline-list-alt {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; 
}
  
ul.ncbi-unstyled-list li, ul.ncbi-inline-list li, ul.ncbi-inline-list-alt li {
  line-height: 1.2; 
}

ul.ncbi-inline-list, ul.ncbi-inline-list-alt {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
}
  
ul.ncbi-inline-list li, ul.ncbi-inline-list-alt li {
  display: inline;
  margin-right: 1.25rem; 
}
    
ul.ncbi-inline-list li:last-child, ul.ncbi-inline-list-alt li:last-child {
  margin-right: 0; 
}

ul.ncbi-inline-list-alt li {
  margin-right: 0; 
}

ul.ncbi-inline-list-alt li::after {
  content: "\a0\a0\a0|\a0\a0\a0";
  color: #aeb0b5; 
}

ul.ncbi-inline-list-alt li:last-child::after {
  content: ""; 
}

/* ========== Colors ========== */
/* accessible text colors for all backgrounds */
.ncbi-bg-primary {
  background-color: #0071bc; 
}

.ncbi-bg-primary-darker {
  background-color: #205493; 
}

.ncbi-bg-primary-darkest {
  background-color: #112e51; 
}

.ncbi-bg-primary-alt {
  background-color: #02bfe7; 
}

.ncbi-bg-primary-alt-dark {
  background-color: #00a6d2; 
}

.ncbi-bg-primary-alt-darkest {
  background-color: #046b99; 
}

.ncbi-bg-primary-alt-light {
  background-color: #9bdaf1; 
}

.ncbi-bg-primary-alt-lightest {
  background-color: #e1f3f8; 
}

.ncbi-bg-secondary {
  background-color: #e31c3d; 
}

.ncbi-bg-secondary-dark {
  background-color: #cd2026; 
}

.ncbi-bg-secondary-darkest {
  background-color: #981b1e; 
}

.ncbi-bg-secondary-light {
  background-color: #e59393; 
}

.ncbi-bg-secondary-lightest {
  background-color: #f9dede; 
}

.ncbi-bg-white {
  background-color: #ffffff; 
}

.ncbi-bg-base {
  background-color: #212121; 
}

.ncbi-bg-black {
  background-color: #000000; 
}

.ncbi-bg-gray-dark {
  background-color: #323a45; 
}

.ncbi-bg-gray {
  background-color: #5b616b; 
}

.ncbi-bg-gray-medium {
  background-color: #757575; 
}

.ncbi-bg-gray-light {
  background-color: #aeb0b5; 
}

.ncbi-bg-gray-lighter {
  background-color: #d6d7d9; 
}

.ncbi-bg-gray-lightest {
  background-color: #f1f1f1; 
}

.ncbi-bg-gray-warm-dark {
  background-color: #494440; 
}

.ncbi-bg-gray-warm-light {
  background-color: #e4e2e0; 
}

.ncbi-bg-gray-cool-light {
  background-color: #dce4ef; 
}

.ncbi-bg-gold {
  background-color: #fdb81e; 
}

.ncbi-bg-gold-light {
  background-color: #f9c642; 
}

.ncbi-bg-gold-lighter {
  background-color: #fad980; 
}

.ncbi-bg-gold-lightest {
  background-color: #fff1d2; 
}

.ncbi-bg-green-dark {
  background-color: #277236; 
}

.ncbi-bg-green {
  background-color: #2e8540; 
}

.ncbi-bg-green-light {
  background-color: #4aa564; 
}

.ncbi-bg-green-lighter {
  background-color: #94bfa2; 
}

.ncbi-bg-green-lightest {
  background-color: #e7f4e4; 
}

.ncbi-bg-cool-blue {
  background-color: #205493; 
}

.ncbi-bg-cool-blue-light {
  background-color: #4773aa; 
}

.ncbi-bg-cool-blue-lighter {
  background-color: #8ba6ca; 
}

.ncbi-bg-cool-blue-lightest {
  background-color: #dce4ef; 
}

.ncbi-bg-focus {
  background-color: #aeb0b5; 
}

.ncbi-bg-visited {
  background-color: #4c2c92; 
}

.ncbi-bg-nih-blue {
  background-color: #20558a; 
}

/* Light backgrounds with dark text */
.ncbi-bg-gray-light,
.ncbi-bg-gray-lighter,
.ncbi-bg-gray-lightest,
.ncbi-bg-gray-warm-light,
.ncbi-bg-gray-cool-light,
.ncbi-bg-cool-blue-lighter,
.ncbi-bg-cool-blue-lightest,
.ncbi-bg-primary-alt-dark,
.ncbi-bg-primary-alt,
.ncbi-bg-primary-alt-light,
.ncbi-bg-primary-alt-lightest,
.ncbi-bg-green-light,
.ncbi-bg-green-lighter,
.ncbi-bg-green-lightest,
.ncbi-bg-gold,
.ncbi-bg-gold-light,
.ncbi-bg-gold-lighter,
.ncbi-bg-gold-lightest,
.ncbi-bg-secondary-light,
.ncbi-bg-secondary-lightest {
  color: #212121; 
}

.ncbi-bg-gray-light a,
.ncbi-bg-gray-lighter a,
.ncbi-bg-gray-lightest a,
.ncbi-bg-gray-warm-light a,
.ncbi-bg-gray-cool-light a,
.ncbi-bg-cool-blue-lighter a,
.ncbi-bg-cool-blue-lightest a,
.ncbi-bg-primary-alt-dark a,
.ncbi-bg-primary-alt a,
.ncbi-bg-primary-alt-light a,
.ncbi-bg-primary-alt-lightest a,
.ncbi-bg-green-light a,
.ncbi-bg-green-lighter a,
.ncbi-bg-green-lightest a,
.ncbi-bg-gold a,
.ncbi-bg-gold-light a,
.ncbi-bg-gold-lighter a,
.ncbi-bg-gold-lightest a,
.ncbi-bg-secondary-light a,
.ncbi-bg-secondary-lightest a {
  color: #0071bc; 
}

.ncbi-bg-gray-light a:hover,
.ncbi-bg-gray-lighter a:hover,
.ncbi-bg-gray-lightest a:hover,
.ncbi-bg-gray-warm-light a:hover,
.ncbi-bg-gray-cool-light a:hover,
.ncbi-bg-cool-blue-lighter a:hover,
.ncbi-bg-cool-blue-lightest a:hover,
.ncbi-bg-primary-alt-dark a:hover,
.ncbi-bg-primary-alt a:hover,
.ncbi-bg-primary-alt-light a:hover,
.ncbi-bg-primary-alt-lightest a:hover,
.ncbi-bg-green-light a:hover,
.ncbi-bg-green-lighter a:hover,
.ncbi-bg-green-lightest a:hover,
.ncbi-bg-gold a:hover,
.ncbi-bg-gold-light a:hover,
.ncbi-bg-gold-lighter a:hover,
.ncbi-bg-gold-lightest a:hover,
.ncbi-bg-secondary-light a:hover,
.ncbi-bg-secondary-lightest a:hover {
  color: #000000; 
}

/* Dark backgrounds with light text */
.ncbi-bg-base,
.ncbi-bg-gray-warm-dark,
.ncbi-bg-gray-dark,
.ncbi-bg-gray,
.ncbi-bg-primary-darkest,
.ncbi-bg-primary-darker,
.ncbi-bg-primary,
.ncbi-bg-cool-blue,
.ncbi-bg-cool-blue-light,
.ncbi-bg-primary-alt-darkest,
.ncbi-bg-green,
.ncbi-bg-secondary-darkest,
.ncbi-bg-secondary-dark,
.ncbi-bg-secondary,
.ncbi-bg-visited,
.ncbi-bg-nih-blue,
.ncbi-bg-ncbi-blue {
  color: #ffffff; 
}

.ncbi-bg-base a,
.ncbi-bg-gray-warm-dark a,
.ncbi-bg-gray-dark a,
.ncbi-bg-gray a,
.ncbi-bg-primary-darkest a,
.ncbi-bg-primary-darker a,
.ncbi-bg-primary a,
.ncbi-bg-cool-blue a,
.ncbi-bg-cool-blue-light a,
.ncbi-bg-primary-alt-darkest a,
.ncbi-bg-green a,
.ncbi-bg-secondary-darkest a,
.ncbi-bg-secondary-dark a,
.ncbi-bg-secondary a,
.ncbi-bg-visited a,
.ncbi-bg-nih-blue a,
.ncbi-bg-ncbi-blue a {
  color: #dce4ef; }
.ncbi-bg-base a:hover,
.ncbi-bg-gray-warm-dark a:hover,
.ncbi-bg-gray-dark a:hover,
.ncbi-bg-gray a:hover,
.ncbi-bg-primary-darkest a:hover,
.ncbi-bg-primary-darker a:hover,
.ncbi-bg-primary a:hover,
.ncbi-bg-cool-blue a:hover,
.ncbi-bg-cool-blue-light a:hover,
.ncbi-bg-primary-alt-darkest a:hover,
.ncbi-bg-green a:hover,
.ncbi-bg-secondary-darkest a:hover,
.ncbi-bg-secondary-dark a:hover,
.ncbi-bg-secondary a:hover,
.ncbi-bg-visited a:hover,
.ncbi-bg-nih-blue a:hover,
.ncbi-bg-ncbi-blue a:hover {
  color: #ffffff; 
}

/* ========== Popups ========== */
.ncbi-popup-anchor {
  position: relative;
  width: 100%;
  height: 0; 
}

.ncbi-popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  color: #212121;
  background-color: white;
  border: 1px solid #212121;
  box-shadow: 0px 4px 10px -4px #212121;
  z-index: 10000; 
}

.ncbi-popup-head {
  position: relative;
  border: 1px solid transparent;
  border-bottom: 1px solid #d6d7d9;
  padding: 0 1.8rem; 
}
  
.ncbi-popup-head h3, .ncbi-popup-head h4, .ncbi-popup-head h5, .ncbi-popup-head h6 {
  margin: 10px 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase; 
}

.ncbi-popup-body {
  padding: 1.5rem 1.8rem; 
}

.ncbi-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  margin: 3px;
  padding: 10px;
  color: #5b616b;
  background-color: #f1f1f1; 
}
  
.ncbi-close-button:hover {
  color: #0071bc;
  background-color: #ffffff; 
}

.usa-hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../img/hero.png");
  background-position: center;
  background-size: cover; 
}
  
.usa-hero .usa-button {
  color: #ffffff; 
}

.usa-section-dark .usa-hero-link {
  color: #02bfe7; 
}

.usa-hero-callout {
  background-color: #112e51;
  padding: 3rem; 
}
  
@media screen and (min-width: 481px) {
  .usa-hero-callout {
    max-width: 30rem; 
  } 
}
  
.usa-hero-callout > *:first-child {
  margin-top: 0;
  margin-bottom: 3rem; 
}

.usa-hero-callout .usa-button {
  font-size: 1.4rem;
  margin-top: 7rem;
  width: 100%; 
}

.usa-hero-callout-alt {
  color: #ffffff;
  display: block; 
}

/* ========== Local Navigation ========== */
.ncbi-topnav {
  height: auto;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #aeb0b5;
  clear: both; 
}
  
.ncbi-topnav a {
  text-decoration: none;
  color: #5b616b; 
}

.ncbi-topnav a:hover {
  text-decoration: underline;
  color: #0071bc; 
}

.ncbi-topnav a:visited {
  color: #5b616b; 
}

.ncbi-topnav a.usa-current {
  color: #0071bc; 
}

.ncbi-topnav a.usa-current:hover {
  text-decoration: none;
  cursor: default; 
}

.ncbi-topnav button.navicon {
  float: right;
  width: auto;
  color: #212121;
  background-color: #f1f1f1;
  margin: 0.5rem 0; 
}
    
.ncbi-topnav button.navicon .fa {
  margin-right: 0.5rem; 
}

@media screen and (min-width: 1201px) {
  .ncbi-topnav button.navicon {
    display: none; 
  } 
}
  
.ncbi-topnav button.navicon:hover {
  color: #0071bc;
  background-color: #ffffff; 
}
  
.ncbi-topnav .ncbi-topnav-root {
  display: inline-block;
  margin: 1.2rem 3rem 1.2rem 0 !important;
  font-size: 2rem;
  font-weight: bold; 
}
    
.ncbi-topnav .ncbi-topnav-root a {
  color: #000000; 
}
  
.ncbi-topnav .ncbi-topnav-root a:hover {
  color: #0071bc; 
}

.ncbi-topnav ul.ncbi-topnav-list {
  display: none;
  margin: 1.2rem 0;
  padding: 0;
  font-weight: bold; 
}
    
.ncbi-topnav ul.ncbi-topnav-list li {
  display: inline-block;
  margin: 0 3rem 0 0; 
}
    
@media screen and (min-width: 600px) {
  .ncbi-topnav ul.ncbi-topnav-list {
    display: inline-block; 
  } 
}
  
.ncbi-topnav .usa-search {
  margin: 0.8rem 0 !important; 
}

@media screen and (min-width: 1201px) {
  .ncbi-topnav {
    height: 5rem; 
  } 
}
  
.ncbi-topnav .usa-menu-btn {
  display: none; 
}

@media screen and (max-width: 600px) {
  .ncbi-topnav .usa-menu-btn {
    display: inline-block; 
  } 
}

.ncbi-sidenav {
  display: none; 
}
  
@media screen and (min-width: 1201px) {
  .ncbi-sidenav {
    display: block; 
  } 
}

.nav-popup {
  top: 4px;
  right: 0;
  min-width: 24rem;
  width: 90%; 
}
  
@media screen and (min-width: 600px) {
  .nav-popup {
    width: auto; 
  } 
}

@media screen and (min-width: 1201px) {
  .nav-popup {
    width: auto; 
  } 
}

.usa-nav.sidenav-mobile {
  display: none; 
}
  
.usa-nav.sidenav-mobile .usa-nav-close {
  color: #000; 
}

.usa-mobile_nav-active > .usa-overlay.is-visible {
  display: none; 
}

@media screen and (max-width: 600px) {
  .usa-nav.sidenav-mobile {
    display: block; 
  }
  
  .usa-mobile_nav-active > .usa-overlay.is-visible {
    display: block; 
  } 
}

/* ========== Portlets ========== */
.ncbi-portlet {
  border-top: 6px solid #8ba6ca;
  padding-top: 1.5rem;
  margin-bottom: 3rem; 
}
  
@media screen and (min-width: 600px) {
  .ncbi-portlet {
    padding-top: 3rem;
    margin-bottom: 3rem; 
  } 
}
  
.ncbi-portlet h1, .ncbi-portlet h2, .ncbi-portlet h3, .ncbi-portlet h4, .ncbi-portlet h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 1em 0.5em 0.5em 0; 
}
  
.ncbi-portlet h2 {
  font-size: 2.4rem;
  margin-top: 0.5em; 
}
  
.ncbi-portlet h6, .ncbi-portlet p {
  margin: 1em 0; 
}

.ncbi-portlet p {
  margin: 0.5em 0; 
}

.ncbi-portlet ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0.5em 0; 
}

.ncbi-portlet ul li {
  line-height: 1.2;
  margin: 0;
  padding: 0.5em 0; 
}

.ncbi-portlet a {
  color: #0071bc;
  text-decoration: none; 
}

.ncbi-portlet a:hover {
  text-decoration: underline;
  color: #112e51; 
}

.ncbi-portlet a:visited {
  color: #0071bc; 
}

.ncbi-doc-context {
  margin-bottom: .75em;
  font-weight: normal;
  text-transform: uppercase;
  color: #5b616b; 
}

.ncbi-doc-title {
  font: 400 1.8rem "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding: 0; 
}

.ncbi-doc-subtitle, .ncbi-doc-authors {
  color: #2e8540; 
}

.ncbi-doc-description, .ncbi-doc-excerpt {
  font-size: 1.4rem;
  padding: 0; 
}

.ncbi-doc-source {
  font-size: 1.4rem; 
}

.ncbi-favicon {
  max-height: 16px;
  max-width: 16px;
  vertical-align: middle;
  padding-right: .25em; 
}

.ncbi-doc-id {
  font-size: 1.4rem;
  color: #5b616b; 
}
  
.ncbi-doc-id a {
  color: #5b616b; 
}

.ncbi-doc-id a:hover {
  color: #5b616b; 
}

.ncbi-doc-links {
  font-size: 1.4rem; 
}

.ncbi-docsum {
  max-width: 600px;
  margin-bottom: 2.3rem;
  line-height: 2.3rem; 
}
  
.ncbi-docsum a {
  text-decoration: none; 
}

.ncbi-docsum a:hover {
  text-decoration: underline; 
}
  
.ncbi-docsum .ncbi-doc-title,
.ncbi-docsum .ncbi-doc-subtitle,
.ncbi-docsum .ncbi-doc-authors,
.ncbi-docsum .ncbi-doc-description,
.ncbi-docsum .ncbi-doc-excerpt,
.ncbi-docsum .ncbi-doc-source,
.ncbi-docsum .ncbi-doc-id,
.ncbi-docsum .ncbi-doc-links {
    margin: 0.2em 0; 
}

.ncbi-docsum-small {
  margin: 0.5em 0;
  max-width: 66ch; 
}
  
.ncbi-docsum-small a {
  text-decoration: none; 
}

.ncbi-docsum-small a:hover {
  text-decoration: underline; 
}

.ncbi-docsum-small li {
  margin: .5em 0;
  line-height: 1.2; 
}

.ncbi-docsum-small p, .ncbi-docsum-small .ncbi-doc-title {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0; 
}

.ncbi-docsum-small .ncbi-doc-source, .ncbi-docsum-small .ncbi-doc-id {
  font-size: 1.4rem;
  color: #5b616b;
  margin: 0; 
}

.usa-section .usa-grid {
  margin-bottom: 1.5rem; 
}
  
@media screen and (min-width: 600px) {
  .usa-section .usa-grid {
    margin-bottom: 3rem; 
  } 
}

/* ========== ncbi-clear-button ========== */
.ncbi-clear-button-wrapper {
  position: relative; 
}
  
.ncbi-clear-button-wrapper .ncbi-clear-button-x {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
  height: 4.41rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: transparent;
  color: #336699; 
}

@media screen and (max-width: 481px) {
  .ncbi-clear-button-x {
    width: auto; 
  } 
}

.usa-search .ncbi-clear-button-x {
  position: static;
  float: left;
  top: auto;
  right: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
  width: 4rem;
  margin-left: -4rem;
  height: 3.3rem;
  background-color: transparent;
  color: #336699; 
}

.usa-search-big .ncbi-clear-button-x {
  height: 3.3rem; 
}
 
@media screen and (min-width: 481px) {
  .usa-search-big .ncbi-clear-button-x {
    height: 4.41rem; 
  } 
}

.ncbi-clear-button-x:hover {
  background-color: transparent;
  color: #336699; 
}

.ncbi-alert-small {
  background-position: 0.7rem 1rem;
  background-size: 3rem;
  margin-top: 0.5em;
  padding: 0 1em 0 0; 
}

.ncbi-alert-small .usa-alert-body {
  padding-left: 4rem; 
}

.ncbi-feedback-button {
  background: #2e8540 url("../img/icons/comment-icon.svg") no-repeat 2rem 1.4rem/2rem;
  color: #fff;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  margin: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: background-color .15s, box-shadow .3s;
  font-size: 2rem;
  height: 4.4rem;
  line-height: 2.4rem;
  /* following styles are from .usa-button */
  border-radius: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  padding: 1rem 2rem 1rem 2.3em;
  text-align: left;
  text-decoration: none; 
}
 
@media screen and (max-width: 600px) {
  .ncbi-feedback-button {
    text-indent: -1000px;
    overflow: hidden;
    padding: 0;
    width: 4.4rem;
    height: 4.4rem;
    background-position: 1.2rem 1.3rem;
    background-size: 2.2rem; 
  } 
}

.ncbi-feedback-button:visited {
  background-color: #1ca186;
  color: #fff; 
}

.ncbi-feedback-button:hover {
  background-color: #277236;
  box-shadow: none;
  color: #fff; 
}

.ncbi-tooltip {
  position: relative;
  display: inline-block; 
}
  
.ncbi-tooltip .ncbi-tooltip-text {
  visibility: hidden;
  width: 20em;
  background-color: #323a45;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -10em; 
}
    
.ncbi-tooltip .ncbi-tooltip-text::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #323a45 transparent transparent transparent; 
}
  
.ncbi-tooltip .ncbi-tooltip-text-left {
  visibility: hidden;
  width: 20em;
  background-color: #323a45;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%; 
}
    
.ncbi-tooltip .ncbi-tooltip-text-left::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  top: 10px;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #323a45; 
}
  
.ncbi-tooltip .ncbi-tooltip-text-right {
  visibility: hidden;
  width: 20em;
  background-color: #323a45;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%; 
}
    
.ncbi-tooltip .ncbi-tooltip-text-right::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  top: 10px;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #323a45 transparent transparent; 
}
  
.ncbi-tooltip .ncbi-tooltip-text-bottom {
  visibility: hidden;
  width: 20em;
  background-color: #323a45;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 20em;
  top: 150%;
  left: 50%;
  margin-left: -10em; 
}
    
.ncbi-tooltip .ncbi-tooltip-text-bottom::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #323a45 transparent; 
}

.ncbi-tooltip:hover .ncbi-tooltip-text, .ncbi-tooltip:hover .ncbi-tooltip-text-right, .ncbi-tooltip:hover .ncbi-tooltip-text-bottom, .ncbi-tooltip:hover .ncbi-tooltip-text-left {
  visibility: visible; 
}

/* ========== VOTE-HELPFUL ========== */
/* Was this helpful?  Yes / No */
.ncbi-vote-helpful {
  color: #5b616b;
  font-size: 1.3rem; 
}
  
.ncbi-vote-helpful button {
  display: inline-block;
  width: auto;
  padding: 0.8rem;
  color: #5b616b !important;
  font-weight: normal;
  font-size: 1.3rem;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #d6d7d9 !important; 
}

.ncbi-vote-helpful button:hover {
  color: #0071bc !important;
  box-shadow: inset 0 0 0 2px #0071bc !important; 
}
  
.ncbi-vote-helpful button:active, .ncbi-vote-helpful button:focus {
  box-shadow: inset 0 0 0 2px #0071bc, 0 0 3px #3e94cf, 0 0 7px #3e94cf !important; 
}

.ncbi-vote-helpful .thank-you {
  padding: 1rem 0; 
}
