---
# custom styles
---

.hero {
  position: relative;

  .stretch-container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    height: 400px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .hero-text-content {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 15%;
    transform: translate(-15%, -50%);
    margin: 0;

    p {
      max-width: 440px;
      font-size: 2rem;
    }
  }
}

.hackathon-event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding: 3rem 0;
  align-items: center;

  .hackathon-date {
    display: flex;
    flex-direction: column;

    .day {
      margin: 0;
      color: #0071bc;
    }

    .month,
    .year {
      font-weight: 700;
      color: #5b616b;
    }
  }

  .hackathon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &.product {
    .product-description {
      p {
        margin: 0;
      }
    }
  }
}

.btn {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: 40px;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #fff;
  }
}
