---
# custom styles
---

.hero {
  position: relative;
  height: 400px;

  .stretch-container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    height: 400px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .hero-text-content {
    color: #fff;
    transform: translateY(-210%);
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    @media screen and (max-width: 600px) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    p {
      max-width: 440px;
      font-size: 2rem;
    }
  }
}

.dropdown {
  background: url('../uswds/img/angle-arrow-down-primary.png') no-repeat;
  text-align: left;
  background-color: #f1f1f1;
  background-position: right 2rem center;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 4.5rem 0 0;
  background-size: 1.5rem;
  margin: 0 !important;
  position: relative;

  &.active {
    background: url('../uswds/img/angle-arrow-up-primary.png') no-repeat;
    text-align: left;
    background-color: #f1f1f1;
    background-position: right 2rem center;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0 4.5rem 0 0;
    background-size: 1.5rem;
    margin: 0 !important;
    position: relative;
  }

  ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;

    &.shown {
      visibility: visible;
      opacity: 1;
      display: block;
      background-color: #fff;
      z-index: 99;

      li {
        padding: 0.5rem 0;
        width: 100%;

        a {
          color: #0071bc;
        }
      }
    }
  }
}

.hackathon-event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding: 3rem 0;
  align-items: center;

  .hackathon-date {
    display: flex;
    flex-direction: column;
    width: 75px;

    .day {
      margin: 0;
      color: #0071bc;
    }

    .month,
    .year {
      font-weight: 700;
      color: #5b616b;
    }
  }

  .hackathon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &.upcoming {
    position: relative;
    justify-content: flex-start;
    opacity: 1;
    transition: all 0.35s ease;
    @media screen and (max-width: 971px) {
      justify-content: space-between;
    }
    &.hidden {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    .hackathon-title {
      margin: 0 2rem;
    }
    .btn {
      right: 0;
      position: absolute;
      @media screen and (max-width: 971px) {
        position: relative;
        height: auto;
      }
    }
  }

  &.previous {
    justify-content: flex-start;
    .hackathon-title {
      margin-left: 2rem;
    }
  }

  &.product {
    opacity: 1;
    transition: all 0.35s ease;
    .product-description {
      @media screen and (max-width: 971px) {
        margin-right: 2rem;
      }
      p {
        margin: 0;
      }
    }
    &.hidden {
      opacity: 0;
      height: 0;
      padding: 0;
    }
  }
}

.btn {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: 40px;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #fff;
    background-color: #205493;
  }
}

.toggle,
button {
  margin: 0 auto;
  display: block;

  a {
    color: #fff;
    &:hover,
    &:focus, 
    &:active,
    &:visited {
      color: #fff;
    }
  }
}

.previous-partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;

  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      display: block;
      width: 100%;
    }
  }
}

.calendar {
  display: flex;
  border: 1px solid #000;
  margin: 4rem 0;
  flex-direction: column;

  .month {
    text-align: center;
    padding: 2rem;
    background-color: #0071bc;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
  }

  .days-of-week {
    display: flex;
    justify-content: space-around;

    .day {
      font-weight: 700;
      flex: 1;
      text-align: center;
    }
  }

  .calendar-week {
    display: flex;
    justify-content: space-around;

    .calendar-day {
      flex: 1;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      padding: 1rem;
      min-height: 90px;
      &:first-child {
        border-left: 0;
      }

      &.disabled {
        background: #d6d7d9;
      }

      .day {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}