---
# custom styles
---

.hero {
  position: relative;

  .stretch-container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    height: 400px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .hero-text-content {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 18%;
    transform: translate(-17%, -50%);
    margin: 0;

    p {
      max-width: 440px;
      font-size: 2rem;
    }
  }
}

.hackathon-event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding: 3rem 0;
  align-items: center;

  .hackathon-date {
    display: flex;
    flex-direction: column;
    width: 75px;

    .day {
      margin: 0;
      color: #0071bc;
    }

    .month,
    .year {
      font-weight: 700;
      color: #5b616b;
    }
  }

  .hackathon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &.upcoming {
    position: relative;
    justify-content: flex-start;
    opacity: 1;
    transition: all 0.35s ease;
    @media screen and (max-width: 971px) {
      justify-content: space-between;
    }
    &.hidden {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    .hackathon-title {
      margin: 0 2rem;
    }
    .btn {
      right: 0;
      position: absolute;
      @media screen and (max-width: 971px) {
        position: relative;
        height: auto;
      }
    }
  }

  &.previous {
    justify-content: flex-start;
    .hackathon-title {
      margin-left: 2rem;
    }
  }

  &.product {
    opacity: 1;
    transition: all 0.35s ease;
    .product-description {
      @media screen and (max-width: 971px) {
        margin-right: 2rem;
      }
      p {
        margin: 0;
      }
    }
    &.hidden {
      opacity: 0;
      height: 0;
      padding: 0;
    }
  }
}

.btn {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: 40px;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #fff;
    background-color: #205493;
  }
}

.toggle,
button {
  margin: 0 auto;
  display: block;

  a {
    color: #fff;
    &:hover,
    &:focus, 
    &:active,
    &:visited {
      color: #fff;
    }
  }
}

.previous-partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;

  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      display: block;
      width: 100%;
    }
  }
}
