<footer id="ncbi-footer" class="usa-footer usa-footer-medium ncbi-footer" role="contentinfo" data-section="Footer">
  <div class="icon-section">
    <div class="usa-grid">
		<div class="usa-width-one-whole">
		<h3 class="usa-sr-only">Connect</h3>
		<ul class="ncbi-inline-list icon-list">
			<li><a id="footer_twitter" href="https://twitter.com/ncbi">Twitter</a></li>
			<li><a id="footer_facebook" href="https://www.facebook.com/ncbi.nlm">Facebook</a></li>
			<li><a id="footer_youtube" href="https://www.youtube.com/user/NCBINLM">YouTube</a></li>
			<li><a id="footer_linkedin" href="https://www.linkedin.com/company/national-center-for-biotechnology-information-ncbi-">LinkedIn</a></li>
			<li><a id="footer_github" href="https://github.com/ncbi">GitHub</a></li>
		</ul>
		<ul class="ncbi-inline-list icon-list icon-list-elastic">	
			<li class="li-blog"><a id="footer_blog" href="https://ncbiinsights.ncbi.nlm.nih.gov/">Blog</a></li>
			<li class="li-support"><a id="footer_support" href="https://support.ncbi.nlm.nih.gov/">Support Center</a></li>
		</ul>
		</div>
		</div>
  </div>
  <div class="usa-footer-secondary_section ncbi-section">
    <div class="usa-grid">
      <div class="usa-width-one-half ncbi">
        <h3 class="ncbi-full-name">National Center for Biotechnology Information</h3>
		<address>
        <a id="google_maps" href="https://www.google.com/maps/place/8600+Rockville+Pike,+Bethesda,+MD+20894/@38.9959508,-77.101021,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7c95e25765ddb:0x19156f88b27635b8!8m2!3d38.9959508!4d-77.0988323">
        <span class="h-adr"> <span class="p-street-address break">8600 Rockville Pike</span>
        <span class="p-locality">Bethesda</span> <span class="p-region"> MD</span>, <span class="p-postal-code">20894</span> <span class="p-country-name">USA</span> </span>
		</a>
		</address>
        <ul class="ncbi-inline-list">
			<li><a id="footer_about" href="https://www.ncbi.nlm.nih.gov/home/about/">About us</a></li>
          <li><a id="footer_contact" href="https://www.ncbi.nlm.nih.gov/home/about/contact.shtml">Contact us</a></li>
          <li><a id="footer_policies" href="https://www.ncbi.nlm.nih.gov/home/about/policies.shtml">Policies</a></li>
          <li><a id="footer_foia" href="https://www.nih.gov/institutes-nih/nih-office-director/office-communications-public-liaison/freedom-information-act-office">FOIA</a></li>
        </ul>
      </div>
      <div class="usa-width-one-half">
      <div class="usa-grid-full">
		<div class="usa-width-one-third">
		<h4>Popular</h4>

        <ul class="ncbi-unstyled-list">
				<li><a id="footer_pubmed" href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed</a></li>
				<li><a id="footer_pmc" href="https://www.ncbi.nlm.nih.gov/pmc/">PubMed Central</a></li>
				<li><a id="footer_bookshelf" href="https://www.ncbi.nlm.nih.gov/books/">Bookshelf</a></li>
				<li><a id="footer_pubchem" href="https://pubchem.ncbi.nlm.nih.gov">PubChem</a></li>
				<li><a id="footer_gene" href="https://www.ncbi.nlm.nih.gov/gene/">Gene</a></li>
				<li><a id="footer_blast" href="https://blast.ncbi.nlm.nih.gov">BLAST</a></li>
				<li><a id="footer_nucleotide" href="https://www.ncbi.nlm.nih.gov/nucleotide/">Nucleotide</a></li>
				<li><a id="footer_protein" href="https://www.ncbi.nlm.nih.gov/protein/">Protein</a></li>
				<li><a id="footer_geo" href="https://www.ncbi.nlm.nih.gov/geo/">GEO</a></li>
        </ul>

			</div>
		<div class="usa-width-one-third">
			<h4>Resources</h4>
			<ul class="ncbi-unstyled-list ncbi-undecorated-links">
				  <li><a id="footer_literature" href="https://www.ncbi.nlm.nih.gov/home/literature/">Literature</a></li>
				  <li><a id="footer_health" href="https://www.ncbi.nlm.nih.gov/home/health/">Health</a></li>
				  <li><a id="footer_genomes" href="https://www.ncbi.nlm.nih.gov/home/genomes/">Genomes</a></li>
				  <li><a id="footer_genes" href="https://www.ncbi.nlm.nih.gov/home/genes/">Genes</a></li>
				  <li><a id="footer_proteins" href="https://www.ncbi.nlm.nih.gov/home/proteins/">Proteins</a></li>
				  <li><a id="footer_chemicals" href="https://www.ncbi.nlm.nih.gov/home/chemicals/">Chemicals</a></li>
			</ul>
		</div>
		<div class="usa-width-one-third">
   <h4>Actions</h4>
   <ul class="ncbi-unstyled-list">
              <li><a id="footer_submit" href="https://www.ncbi.nlm.nih.gov/home/submit/">Submit</a></li>
              <li><a id="footer_download" href="https://www.ncbi.nlm.nih.gov/home/download/">Download</a></li>
              <li><a id="footer_learn" href="https://www.ncbi.nlm.nih.gov/home/learn/">Learn</a></li>
              <li><a id="footer_develop" href="https://www.ncbi.nlm.nih.gov/home/develop/">Develop</a></li>
              <li><a id="footer_analyze" href="https://www.ncbi.nlm.nih.gov/home/analyze/">Analyze</a></li>
              <li><a id="footer_research" href="https://www.ncbi.nlm.nih.gov/research/">Research</a></li>
   </ul>
		  </div>
		  </div>
		  </div>
    </div>
	</div>
     <div class="usa-footer-secondary_section gov-agencies"> 
    <div class="usa-grid">
    <div class="usa-width-one-whole">
		<p>
			<a id="footer_nlm" href="https://www.nlm.nih.gov/">NLM</a>
			&ensp;|&ensp;
			<a id="footer_nih" href="https://www.nih.gov/">NIH</a>
			&ensp;|&ensp;
			<a id="footer_hhs" href="https://www.hhs.gov/">HHS</a>
			&ensp;|&ensp;
			<a id="footer_usagov" href="https://www.usa.gov/">USA.gov</a>
		</p>
	 </div>
	 </div>
	</div>
</footer>