<header class="ncbi-header" role="banner" data-section="Header">

	<div class="usa-grid">
		<div class="usa-width-one-whole">
			<div class="agencies">
				<div class="nih"><span class="usa-sr-only">National Institutes of Health</span></div>
				<div class="nlm">U.S. National Library of Medicine</div>
				<div class="ncbi">National Center for Biotechnology Information</div>
				<a href="/" class="homepage"><span class="usa-sr-only" id="header_ncbi">NCBI homepage</span></a>
			</div>
		</div>
	</div>
</header>