<nav class="ncbi-topnav">
  <div class="usa-grid">
    <ul class="ncbi-topnav-list" id="topnav-list">
      <li><a href="{{ site.baseurl}}/">Home</a></li>
      <!-- <li><a href="{{ site.baseurl}}/products">Products</a></li> -->
      <li><a href="{{ site.baseurl}}/about">About</a></li>
      <li><a href="{{ site.baseurl}}/resources">Resources</a></li>
    </ul>
    <button class="usa-menu-btn">Menu</button>
  </div>
</nav>
<nav role="navigation" class="usa-nav sidenav-mobile">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <span class="fa fa-close"></span>
      <span class="sr-only">Close</span>
    </button>
  <div>
  <ul class="usa-sidenav-list usa-accordion">
    <li>
      <ul class="usa-sidenav-sub_list" id="nav-ui-basics" markdown="1" aria-hidden="false">
        <li><a href="{{ site.baseurl}}/">Home</a></li>
        <!-- <li><a href="{{ site.baseurl}}/products">Products</a></li> -->
        <li><a href="{{ site.baseurl}}/about">About</a></li>
        <li><a href="{{ site.baseurl}}/resources">Resources</a></li>
      </ul>
    </li>
  </ul>
</nav>