{% for upcoming-hackathon in site.data.upcoming-hackathon %}
<div class="hackathon-event upcoming {{upcoming-hackathon.hidden}}">
    <span class="hackathon-date">
        <span class="month">{{ upcoming-hackathon.month }}</span>
        <h3 class="day">{{ upcoming-hackathon.day }}</h3>
        <span class="year">{{ upcoming-hackathon.year }}</span>
    </span>
    <h3 class="hackathon-title"><a href="{{upcoming-hackathon.link}}">{{upcoming-hackathon.title}}</a></h3>
    <a href="#" class="btn">Sign Up</a>
</div>
{% endfor %}