---
about: about.md
---

<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-overlay"></div>
    {% include header.html %}
    {% include navigation.html %}
    {% if page.title == 'About' %}
      {% include hero-banner.html image="cloud-hero.jpg" title="About" paragraph="Bringing people with diverse backgrounds together to build tools for advanced analysis of biomedical data." %}
    {% elsif page.title == 'Products' %}
      {% include hero-banner.html image="cloud-hero.jpg" title="Codeathons Products" paragraph="Bringing people with diverse backgrounds together to build tools for advanced analysis of biomedical data." %}
    {% elsif page.title == 'Resources' %}
      {% include hero-banner.html image="cloud-hero.jpg" title="Resources" paragraph="Bringing people with diverse backgrounds together to build tools for advanced analysis of biomedical data." %}
    {% else %}
      {% include hero-banner.html image="cloud-hero.jpg" title="NCBI Codeathons" paragraph="Bringing people with diverse backgrounds together to build tools for advanced analysis of biomedical data." %}
    {% endif %}
    <main id="main-content">
      <section class="usa-section">
        <div class="usa-grid">
          {{ content }}
        </div>
      </section>
    </main>
    {% include footer.html %}
    <script src="/uswds/js/uswds.min.js"></script>
    <script src="/js/navigation.js"></script>
  </body>
</html>
