---
---

<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-overlay"></div>
    {% include header.html %}
    {% include navigation.html %}
    {% include hero-banner.html %}
    <main id="main-content">
      <section class="usa-section">
        <div class="usa-grid">
          {{ content }}
        </div>
      </section>
    </main>
    {% include footer.html %}
    <script src="{{ site.baseurl}}/uswds/js/uswds.min.js"></script>
  </body>
</html>